.ion-md-dumbbell {
    content: url("../../assets/icon/dumbbell.png") !important; } 
.ion-md-invoice {
    content: url("../../assets/icon/invoice.png") !important; } 
.ion-md-user {
    content: url("../../assets/icon/user.png") !important; } 
.ion-md-route {
    content: url("../../assets/icon/route.png") !important; } 
.ion-md-add {
    content: url("../../assets/icon/add.png") !important; } 

.ion-tab:hover{
    color: rgba(75,192,192,0.4);
}