page-home {

}

.routeDiv {
    border-style: solid;
    border-radius: 10%;
    max-width: 30%;
    max-height: 30%;
}
[cards] {
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 5px 0;
    }
    .row {
        padding: 0 12px;
        padding-top: 6px
    }
    .col {
        padding: 5px 0;
    }
    .card {
        margin: 0 5px;
        width: calc(100% - 10px);
        padding: 14px;
        background: lightgray;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.80);
        border-radius: 40px;
        //border-style: solid;
        h1 {
            font-weight: 400;
            font-size: 3.5rem;
        }
        p {
            font-weight: 100;
            font-size: 1.5rem;
        }
    }
}

